@model HotelGolfBooking.Models.customer_feedback

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>customer_feedback</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cemail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cemail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.caddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.caddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.topic)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.topic)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fullcontent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fullcontent)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
