@model IEnumerable<HotelGolfBooking.Models.hotline>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Email và Hotline đặt phòng</h2>
<h4>(Không thêm mới, khi muốn cập nhật sửa trên cái cũ)</h4>

<table class="tbl_price_room">
    <tr style="border-bottom:solid 1px #808080;">
        <th>Email</th> 
        <th>HotLine</th>        
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr style="border-bottom:solid 1px #808080;">
        <td style="border-right:1px solid #808080">
            @Html.Raw(@item.email)
        </td>     
        <td style="border-right:1px solid #808080">
            @Html.Raw(@item.phone)
        </td>    
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.id })  
        </td>
    </tr>
}
</table>
<script>
    function add() {
        window.location.href = "/HotLine/Create";
    }
</script>
