<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>@Html.Raw(@ViewBag.title)</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="@Html.Raw(HttpUtility.HtmlDecode(@ViewBag.des))">                        
        <meta name="robots" content="index,follow,noodp"/>
        <meta name="author" content="elitehotel.com.vn"/>
        <meta property="og:locale" content="vi_VN" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="@ViewBag.url" />        
        <meta property="og:title" content="Đặt phòng khách sạn @ViewBag.title" />
        <meta property="og:description" content="@Html.Raw(HttpUtility.HtmlDecode(@ViewBag.des))" />
        <meta property="og:image" itemprop="thumbnailUrl" content="@ViewBag.image" />

<link rel="shortcut icon" href="favicon.ico">
<!-- Stylesheets -->
<link rel="stylesheet" href="~/Content/css/animate.css">
<link rel="stylesheet" href="~/Content/css/bootstrap.css">
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/css/owl.carousel.css">
<link rel="stylesheet" href="~/Content/css/owl.theme.css">
<link rel="stylesheet" href="~/Content/css/prettyPhoto.css">
<link rel="stylesheet" href="~/Content/css/smoothness/jquery-ui-1.10.4.custom.min.css">
<link rel="stylesheet" href="~/Content/rs-plugin/css/settings.css">
<link rel="stylesheet" href="~/Content/css/theme.css">
<link rel="stylesheet" href="~/Content/css/colors/turquoise.css">
<link rel="stylesheet" href="~/Content/css/responsive.css">
<link rel="stylesheet" href="~/Content/css/customscreen.css">

<!-- Javascripts --> 
<script type="text/javascript" src="~/Content/js/jquery-1.11.0.min.js"></script> 
<script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="~/Content/js/bootstrap-hover-dropdown.min.js"></script> 
<script type="text/javascript" src="~/Content/js/owl.carousel.min.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="~/Content/js/jquery.nicescroll.js"></script>  
<script type="text/javascript" src="~/Content/js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery-ui-1.10.4.custom.min.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.jigowatt.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.sticky.js"></script> 
<script type="text/javascript" src="~/Content/js/waypoints.min.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.isotope.min.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.gmap.min.js"></script> 
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
<script type="text/javascript" src="~/Content/rs-plugin/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="~/Content/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> 
<script type="text/javascript" src="~/Content/js/custom.js"></script> 
<script type="text/javascript" src="~/Scripts/core.js"></script>
<script src="/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="/Scripts/jquery-ui.css">   
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-60691406-1', 'auto');
    ga('send', 'pageview');

</script>  

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
        article #fullcontentdetail img {
            max-width:90%;
            margin: 0 auto;
        }
    </style>
</head>
    <body>
       <script>
           window.fbAsyncInit = function () {
               FB.init({
                   appId: '111991195811550',
                   xfbml: true,
                   version: 'v2.3'
               });
           };

           (function (d, s, id) {
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) { return; }
               js = d.createElement(s); js.id = id;
               js.src = "//connect.facebook.net/en_US/sdk.js";
               fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
       </script>
       <!-- Top header -->
<div id="top-header">
  <div class="container">
      <div class="col-xs-6">
        <div class="th-text pull-left">
          	   <div class="navbar-header" style="height:67px;">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a href="/Home/" class="navbar-brand">         
                    <!-- Logo -->
                    <div id="logo"> <img id="default-logo" src="/Images/logo.jpg" alt="EliteHotel" style="height:66px;"></div>
                    </a>
          	   </div>
        </div>		
      </div>	  
      <div class="col-xs-3">
        <div class="th-text">
          <div class="th-item">
            <div class="btn-group">
              <ul style="list-style-type: none;padding-top:9px;">
              <li><a href="skype:steveph.912?chat" style="font-weight:bold;"><img src="/Images/skype.png" style="width:16px;height:16px;">&nbsp;Support 1</a></li>
              <li><a href="skype:minhnguyetlove89?chat" style="font-weight:bold;"><img src="/Images/skype.png" style="width:16px;height:16px;">&nbsp;Support 2</a></li>
              <li><a href="skype:lil.ngocanh?chat" style="font-weight:bold;"><img src="/Images/skype.png" style="width:16px;height:16px;">&nbsp;Support 3</a></li>  
              </ul>  
            </div>
          </div>
          <div class="th-item">
            <div class="social-icons"> <a href="https://www.facebook.com/elitehotelvn" target="_blank" style='color:#97C2EB'><i class="fa fa-facebook"></i></a> <a href="#" style='color:#97C2EB'><i class="fa fa-twitter"></i></a> <a href="#" style='color:#97C2EB'><i class="fa fa-youtube-play"></i></a> </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="th-text" id="divCompanyHotLine">
          	   <script>getCompanyHotLine();</script>		
        </div>		
      </div>
  </div>
</div>

<!-- Header -->
<header>
  <!-- Navigation -->
  <div class="navbar yamm navbar-default" id="sticky" style="background-color:#1F497D;height:50px;">
    <div class="container">     
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a href="/Home/" class="navbar-brand2" >   
            <div id="logo2"><img id="retina-logo" src="/Images/logomobile.jpg" alt="EliteHotel" style="height:47px;"></div>
        </a>
       </div>
      <div id="navbar-collapse-grid" class="navbar-collapse collapse" style="height:50px;">
        <ul class="nav navbar-nav" >
          <li class="dropdown active" ><a href="/Home/" style="width:115px;font-weight:bold;color:#ffffff;background-color:#1F497D;" onmouseover="this.style.backgroundColor='#A22EB4';" onmouseout="this.style.backgroundColor='#1F497D';">Trang chủ</a></li>
          <li class="wauto"><a href="/Hotels/Gallery" style="width:115px;font-weight:bold;color:#ffffff;background-color:#1F497D;" onmouseover="this.style.backgroundColor='#A22EB4';" onmouseout="this.style.backgroundColor='#1F497D';">Album ảnh</a></li>
		  <li><a href="/news/all-page1" style="width:115px;font-weight:bold;color:#ffffff;background-color:#1F497D;" onmouseover="this.style.backgroundColor='#A22EB4';" onmouseout="this.style.backgroundColor='#1F497D';">Tin tức</a></li>
          <li><a href="/Golf/List"  style="width:115px;font-weight:bold;color:#ffffff;background-color:#1F497D;" onmouseover="this.style.backgroundColor='#A22EB4';" onmouseout="this.style.backgroundColor='#1F497D';">Dịch vụ Golf</a></li>
		  <li><a href="/Search/Promotion" style="width:115px;display:block;font-weight:bold;color:#ffffff;background-color:#1F497D;" onmouseover="this.style.backgroundColor='#A22EB4';" onmouseout="this.style.backgroundColor='#1F497D';">Khuyến mại</a></li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated"  style="width:115px;font-weight:bold;color:#ffffff;background-color:#1F497D;" onmouseover="this.style.backgroundColor='#A22EB4';" onmouseout="this.style.backgroundColor='#1F497D';">Coupon<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/HotelChoupon/List" style="width:165px;font-weight:bold;color:#ffffff;background-color:#1F497D;">Khách sạn voucher</a></li>
              <li><a href="/GolfChoupon/List" style="width:165px;font-weight:bold;color:#ffffff;background-color:#1F497D;">Golf voucher</a></li>
            </ul>
          </li>  
          <li><a href="/CustomerRequest/Create" style="width:115px;font-weight:bold;color:#ffffff;background-color:#1F497D;" onmouseover="this.style.backgroundColor='#A22EB4';" onmouseout="this.style.backgroundColor='#1F497D';">Gửi yêu cầu</a></li>   
        </ul>
      </div>
    </div>
  </div>
</header>
        <div id="body">
            @RenderSection("featured", required: false)
               @RenderBody()
        </div>
        <!-- Footer -->
<footer>
  <div class="container">
	<div class="col-md-12" >
		<h2 class="lined-heading bounceInRight appear" data-start="800"><span>Thông tin InterGolf</span></h2>
	</div>
    <div class="row">
      <div class="col-md-5 col-sm-3">
        <h4>Giới thiệu InterGolf</h4>
        <p>InterGolf thuộc "CÔNG TY CỔ PHẦN ĐẦU TƯ THƯƠNG MẠI VÀ TRUYỀN THÔNG QUỐC TẾ” cung cấp các dịch vụ Golf: Golf event, Golf booking, Inbound/ outbound Golf tours.</p>
<p>For golf booking: Liên hệ với chúng tôi qua website này hoặc mục Dịch vụ Golf</p>
<p>Bạn sẽ được cung cấp những dịch vụ gì?</p>
<p>- Phục vụ tận tình, chu đáo và thân thiện bởi đội ngũ nhân viên</p>
<p>- Hình thức thanh toán nhanh chóng thuận tiện</p>
<p>- Liên tục cập nhật các tours, tin tức, sự kiện phù hợp với thời gian của bạn</p>
      </div>
      <div class="col-md-3 col-sm-3">
        <h4>Nhận thông tin từ chúng tôi</h4>
        <p>Để lại email của bạn, chúng tôi sẽ email thông báo khi có sự kiện, dịch vụ mới bạn cần</p>
        <form role="form">
          <div class="form-group">
            <input name="newsletter" type="text" id="newsletter" value="" class="form-control" placeholder="Gõ địa chỉ email">
          </div>
          <button type="submit" class="btn btn-lg btn-black btn-block" style="background-color:#4B7E37">Xác nhận</button>
        </form>
      </div>
      
      <div class="col-md-3 col-sm-3">
        <h4>Địa chỉ</h4>
        <address>
        <strong>CÔNG TY CỔ PHẦN ĐẦU TƯ THƯƠNG MẠI VÀ TRUYỀN THÔNG QUỐC TẾ</strong><br>
        Office: R1209, 13th floor, 137 Nguyen Ngoc Vu Building, Cau Giay District, Hanoi, Vietnam<br>
        <abbr title="Phone">P:</abbr> <a href="#">(+84)466819156</a><br>
        <abbr title="Email">E:</abbr> <a href="#">info@intergolf.vn</a><br>
        <abbr title="Website">FP:</abbr><a href="#">www.facebook.com/intergolfvn</a><br>
        </address>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-6"> &copy; 2014 InterGolf All Rights Reserved </div>
        <div class="col-xs-6 text-right">
          @*<a href="skype:steveph.912?chat" style="color:#ffffff;font-weight:bold;"><img src="/Images/skype.png">Hotline 1: steveph.912</a>
          <a href="skype:minhnguyetlove89?chat" style="color:#ffffff;font-weight:bold;"><img src="/Images/skype.png">Hotline 2: minhnguyetlove89</a>
          <a href="skype:lil.ngocanh?chat" style="color:#ffffff;font-weight:bold;"><img src="/Images/skype.png">Hotline 3: lil.ngocanh</a>   *@ 
          <ul>
            <li><a href="mailto:booking@elitehotel.com.vn" style="color:#c1c1c1;">booking@elitehotel.com.vn</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Go-top Button -->
<div id="go-top"><i class="fa fa-angle-up fa-2x"></i></div>

        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        <script src="https://apis.google.com/js/platform.js" async defer>
            {lang: 'vi'}
        </script>
     
    </body>
</html>
