@model HotelGolfBooking.Models.hotel_promotion

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminBasic.cshtml";
}
<script src="/Scripts/ckeditor/ckeditor.js"></script>
<div class="col-md-8" id="listPromotion" style="display:none;">
        
</div>
<div class="col-md-8">
<h2>Nhập khuyến mại cho khách sạn @Session["hotelName"]</h2>
@using (Html.BeginForm("Create", "HotelPromotion", FormMethod.Post, new { id = "EditForm" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        
              <div class="form-group">
                <label for="room">Tỷ lệ % discount</label>
                <input name="discount" type="text" id="discount" value="" class="form-control" onblur="checkDiscount();"/>                                
                <input name="idhotel" type="hidden" id="idhotel" value="@Session["idhotel"]" class="form-control" />                
                <input name="hotelname" type="hidden" id="hotelname" value="@Session["hotelname"]" class="form-control" />                
                <input name="fdate" type="hidden" id="fdate" value="" class="form-control" />                
                <input name="tdate" type="hidden" id="tdate" value="" class="form-control" />                
              </div>
              <div class="form-group">
                <label style="width:auto;display:block;">Áp dụng từ ngày</label>
                <input name="checkin" type="text" id="checkin" value="" class="form-control" placeholder="từ ngày"/>                                            
              </div>
              <div class="form-group">
                <label style="width:auto;display:block;">Đến ngày</label>
                <input name="checkout" type="text" id="checkout" value="" class="form-control" placeholder="đến ngày"/>                                                 
              </div>
              <div class="form-group">
                    <label for="room" style="width:auto;display:block;">Nội dung chi tiết</label>                
                     <textarea name="details" id="details" rows="20" cols="220">
                         
                    </textarea>
                    <script>
                        CKEDITOR.replace('details');
                    </script>                       
                  </div>
         <p>
           <button type="button" class="btn btn-info" onclick="checkField();">Thêm mới</button>
        </p>
    </fieldset>    
}
 
<div>
    <a href="/Hotels/Edit/@Session["idhotel"]">Quay lại</a>    
</div>
</div>

<script>
   
    function getHotelPromotionList(value) {
        var formdata = new FormData(); //FormData object
        formdata.append("idhotel", value);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/HotelPromotion/getHotelPromotionList');
        xhr.send(formdata);
        var content = "";

        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var news = '{"news":' + xhr.responseText + '}';
                //alert(news);
                var json_parsed = $.parseJSON(news);
                if (json_parsed.news.length <= 0) return;
                content = "<h4>Danh sách khuyến mại đang có</h4><table class=tbl_price_room><tr><th>Discount</th><th>Từ ngày</th><th>Đến ngày</th><th></th><tr>";
                $("#listPromotion").show();
                $("#listPromotion").html();
                for (var i = 0; i < json_parsed.news.length; i++) {
                    if (json_parsed.news[i]) {
                        var n = json_parsed.news[i];
                        
                        //alert(n.fdate + "-"+n.tdate);
                        
                        content += "<tr><td>" + n.discount + "%</td><td>" + convertFromDateIdToDateString(""+n.fdate+"") + "</td><td>" + convertFromDateIdToDateString(""+n.tdate+"") + "</td><td><a href=\"/HotelPromotion/Edit/" + n.id + "\">Sửa</a><a href=\"/HotelPromotion/Delete/" + n.id + "\"> Xóa</a></td><tr>";
                    }
                }
                //alert(content);
                $("#listPromotion").html(content);
                //alert(news);
            }
        }
    }
    getHotelPromotionList(@Session["idhotel"]);
    function checkDiscount() {
        document.getElementById("discount").value = parseInt(removeSpecialCharater(document.getElementById("discount").value));
    }
    //alert(getDateId("23/11/2014"));
    function checkField() {
        if (document.getElementById("discount").value == "") {
            alert("Nhập tỷ lệ giảm giá!");
            document.getElementById("discount").focus();
            return false;
        }
        if (document.getElementById("checkin").value == "") {
            alert("Nhập ngày bắt đầu áp dụng!");
            document.getElementById("checkin").focus();
            return false;
        }
        if (document.getElementById("checkout").value == "") {
            alert("Nhập ngày kết thúc áp dụng!");
            document.getElementById("checkout").focus();
            return false;
        }
        document.getElementById("fdate").value = getDateId(document.getElementById("checkin").value);
        //alert(document.getElementById("fdate").value);
        document.getElementById("tdate").value = getDateId(document.getElementById("checkout").value);
        //return;
        document.getElementById("EditForm").submit();
    }
</script>
