@model PagedList.IPagedList<HotelGolfBooking.Models.golf>
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Danh sách sân golf";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-md-12">
        <div class="form-group">
                <label for="room" style="width:auto;display:block;">Tên sân golf</label>
                <input name="golfname" type="text" id="golfname" value="" class="form-control" style="width:auto;" onkeyup="searchGolf();"/>                                  
                <button type="button" class="btn btn-info" onclick="search();">Tìm kiếm</button>  
                <button type="button" class="btn  btn-lg btn-info" style="float:right;" onclick="add();">Thêm mới</button> 
        </div>
</div>
<h2>Danh sách sân Golf</h2>
<div class="col-md-12">
<table class="tbl_price_room">
    <tr style="border-bottom:solid 1px #808080;">
        <th>
            Tên
        </th>
        <th>
            Ảnh
        </th>        
        <th></th>
    </tr>
@foreach (var item in Model)
{
    <tr style="border-bottom:solid 1px #808080;">
        <td>
            <b>@Html.Raw(@item.name)</b><br/>
            <p>Địa chỉ:@Html.DisplayFor(modelItem => item.address)</p>
        </td>
        <td>
            <div class="item"><a href="@item.image" data-rel="prettyPhoto[gallery1]"><img src="@HotelGolfBooking.Config.domain/@item.image" class="img-responsive" width="200" height="126" alt="@item.name"><i class="fa fa-search"></i></a></div>
        </td>
        
        <td>
            <b>@Html.ActionLink("Sửa", "Edit", new { id = item.id }) |            
            @Html.ActionLink("Xóa", "Delete", new { id = item.id })</b>
        </td>
    </tr>
}
</table>
</div>
<div class="col-md-12">
<ul class="pagination clearfix">
        <li class="disabled"><a href="#">«</a></li>
        @for (int i = 1; i <= Model.PageCount; i++)
        { 
                            <text><li><a href="/Golf/Index?name=@ViewBag.name&page=@i">@i</a></li></text>
                        }
</ul>
</div>
<script>
    function search() {
        window.location.href = "/Golf/Index?name=" + document.getElementById("golfname").value;
    }
    function add() {
        window.location.href = "/Golf/Create";
    }
</script>
