@{
    ViewBag.Title = "EliteHotel - Đặt phòng khách sạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Revolution Slider -->
<section class="revolution-slider">
  <div class="bannercontainer">
    <div class="banner">
      <ul>
        @Html.Raw(@ViewBag.slide)
      </ul>
    </div>
  </div>
</section>

<!-- Reservation form -->
<section id="reservation-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">           
        <form class="form-inline reservation-horizontal clearfix" role="form"   name="reservationform" id="reservationform">
        <div id="message"></div><!-- Error message display -->
          <div class="row">
            <div class="col-sm-2" >
              <div class="form-group">
                <label >Thành Phố</label>
				<select class="form-control" name="dis" id="dis" style="width:20px;">
                  <option selected="selected" disabled="disabled">Chọn</option>
                  
                </select>                
              </div>
            </div>
			<div class="col-sm-2" >
              <div class="form-group">
                <label >Tiêu chuẩn</label>
                <select class="form-control" name="rate" id="rate" style="width:20px;">
                  <option selected="selected" disabled="disabled">Chọn tiêu chuẩn</option>
				  <option value="6">Cao cấp và Resort</option>                  
				  <option value="5">5 sao</option>
				  <option value="4">4 sao</option>
                  <option value="3">3 sao</option>
                </select> 
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="room" style="width:auto;display:block;">Khách sạn</label>
                <input name="hotelname" type="text" id="hotelname" value="" class="form-control" placeholder="Gõ tên " style="width:170px;" onkeyup="searchHotel();"/>
              </div>
            </div>
            <div class="col-sm-2" >
              <div class="form-group">
                <label for="checkin" style="width:auto;display:block;">Ngày nhận phòng</label>                
                <i class="fa fa-calendar infield" onclick='$("#checkin").datepicker("show");'></i>
                <input name="checkin" type="text" id="checkin" value="@HotelGolfBooking.Config.convertFromDateIdToDateString(@ViewBag.fromdate)" class="form-control" placeholder="Check-in" style="width:100px;"/>                
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="checkout" style="width:auto;display:block;">Ngày trả phòng</label>                
                <i class="fa fa-calendar infield" onclick='$("#checkout").datepicker("show");'></i>
                <input name="checkout" type="text" id="checkout" value="@HotelGolfBooking.Config.convertFromDateIdToDateString(@ViewBag.todate)" class="form-control" placeholder="Check-out" style="width:100px;"/>
              </div>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-info" onclick="searchHotelSubmit();">Tìm Khách Sạn</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row"> 
    <!-- Testimonials -->
    <section class="testimonials mt20">
      <div class="col-md-6">
        <h2 class="lined-heading bounceInLeft appear" data-start="0"><span>Đánh giá của khách hàng</span></h2>
        <div id="owl-reviews" class="owl-carousel">
             @Html.Raw(@ViewBag.contentFeedback)
        </div>
		<h3 class="lined-heading bounceInLeft appear" data-start="0"><span><a href="/Feedback/Contact">Phản hồi của bạn</a></span></h3>
      </div>
    </section>
    
    <!-- About -->
    <section class="about mt20">
      <div class="col-md-6" >
        <h2 class="lined-heading bounceInRight appear" data-start="800"><span>Top khách sạn bán chạy nhất</span></h2>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" >
          <li class="active"><a href="/Search/Promotion" data-toggle="tab" style="background-color: #1F497D;color:#fff;">TOP DEALS</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" >
          <div class="tab-pane fade in active" id="hotel">
				<table class="tbl_price_room" id="TopDeal">
					
				</table>
                <a href="/Search/Promotion">Xem thêm..</a>			
          </div>          
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-12" >
	<h2 class="lined-heading bounceInRight appear" data-start="800"><span>Khách sạn rẻ nhất</span></h2>
		<div style="display:block;float:left;position:relative;width:100%;" id="GoodPrice">
			
		</div>	
  </div>
</div>
<!-- Gallery -->
<section class="gallery-slider mt20">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="lined-heading"><span>Khách sạn nhiều người quan tâm nhất</span></h2>
      </div>
    </div>
  </div>
  <div id="owl-gallery" class="owl-carousel">
     @Html.Raw(@ViewBag.goodhotel)
  </div>
</section>

<script>
    getAddressList();
    getTopDeal(@ViewBag.fromdate,@ViewBag.todate); 
    getGoodPrice(@ViewBag.fromdate,@ViewBag.todate);
    //getFeedbackList(@ViewBag.fromdate,@ViewBag.todate);
    $("#owl-gallery").find("owl-item").css("width","292px");
</script>