@{
    ViewBag.Title = "Print";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
    
}
<div style="font-size:10pt;font-family:Arial,Helvetica,sans-serif">
<center>
    <table cellspacing="0" cellpadding="2" style="font-size:10pt;font-family:Arial,Helvetica,sans-serif;min-width:700px;border: 1px solid #70C053;">
        <tbody>
            <tr>
                <td>
                    <div style="font-weight:bold;font-size:18pt;color:#70c053;text-align:center">
                        <p></p><img id="default-logo" src="/Content/images/logo.png" alt="Starhotel" style="height:44px;"></p>
                        <p>Phiếu xác nhận đặt dịch vụ - Golf Voucher</p>
                    </div>
                </td>    
            </tr>
            <tr>
                <td>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <b>Mã dịch vụ:@ViewBag.code</b>
                                </td>    
                                <td>
                                    <b>Ngày đặt:@ViewBag.datebook</b>
                                </td>  
                            <tr>
                        </tbody>
                    </table>  
                </td>
            </tr>
            <tr>
                <td>
                    <div style="font-weight:bold;font-size:18pt;color:#70c053;text-align:center">Thông tin dịch vụ</div>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" style="border: 1px solid #808080;border-spacing: 0;border-collapse: collapse;">
                        <tbody>
                            <tr style="border-bottom:solid 1px #70C053;">
                                <td valign="top">
                                    Tên khách hàng
                                </td>
                                <td valign="top">
                                    <b>@ViewBag.cname</b>                                    
                                </td>
                            </tr>        
                            <tr style="border-bottom:solid 1px #70C053;">
                                <td valign="top">
                                    Đặt sân golf
                                </td>
                                <td valign="top">
                                    <b>@ViewBag.golfname</b>
                                    <p>Địa chỉ:@ViewBag.address</p>
                                    <p>Số điện thoại:@ViewBag.phone</p>
                                </td> 
                            </tr>
                            <tr style="border-bottom:solid 1px #70C053;">
                                <td valign="top">
                                    Ngày chơi
                                </td>
                                <td valign="top">
                                    <b>@HotelGolfBooking.Config.convertFromDateIdToDateString(@ViewBag.dateplay.ToString()) lúc @ViewBag.checkin</b>
                                </td>
                            </tr>       
                            <tr style="border-bottom:solid 1px #70C053;">
                                <td valign="top">
                                    Số hố
                                </td>
                                <td valign="top">
                                    @ViewBag.holes
                                </td>
                            </tr>
                            <tr style="border-bottom:solid 1px #70C053;">
                                <td valign="top">
                                    Xe buggies
                                </td>
                                <td valign="top">
                                    <b>@ViewBag.buggies</b>
                                </td>
                            </tr>                            
                            <tr style="border-bottom:solid 1px #70C053;">
                                <td valign="top">
                                    Tổng cộng
                                </td>
                                <td valign="top">
                                    <b style="font-size:22px;">@HotelGolfBooking.Config.formatNumber(@ViewBag.totalprice) VND</b> 
                                </td>
                            </tr>
                        </tbody>
                    </table>  
                </td>
            </tr>
            <tr>
				<td>
					@Html.Raw(@ViewBag.invoice)
				</td>
			</tr>
            <tr>
                <td>
                    <div style="font-weight:bold;font-size:18pt;color:#70c053;text-align:center">Lưu ý ưu đãi(Nếu có)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>@Html.Raw(@ViewBag.extra)</p>
                </td>
            </tr>            
        </tbody>
    </table>
</center>
<div>

