@model HotelGolfBooking.Models.hotel_service

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>hotel_service</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idhotel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idhotel)
            @Html.ValidationMessageFor(model => model.idhotel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.service)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.service)
            @Html.ValidationMessageFor(model => model.service)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

