@model HotelGolfBooking.Models.hotel_choupon

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-8">
<h2>Nhập Choupon cho khách sạn @Session["hotelName"]</h2>
@using (Html.BeginForm("Edit", "HotelChoupon", FormMethod.Post, new { id = "EditForm" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <fieldset>
        <div class="col-md-6">
              <div class="form-group">
                <label for="room">Tên phòng</label>
                <select class="form-control" name="roomname" id="roomname" onchange="setIdRoom();">                    
                </select>                   
                <input name="idroom" type="hidden" id="idroom" value="@Model.idroom" class="form-control" />                
                <input name="idhotel" type="hidden" id="idhotel" value="@Session["idhotel"]" class="form-control" />                
                <input name="hotelname" type="hidden" id="hotelname" value="@Session["hotelname"]" class="form-control" />                
              </div>
         </div>
        <div class="col-md-6">
              <div class="form-group">
                <label for="room">Giá choupon</label>
                <input name="chouponprice" type="text" id="chouponprice" value="@Model.chouponprice" class="form-control" placeholder="Nhập giá choupon" onblur="checkPrice();"/>                                
              </div>
         </div>
        <div class="col-md-6">
              <div class="form-group">
                <label for="room">Số lượng</label>
                <input name="total" type="text" id="total" value="@Model.total" class="form-control" placeholder="gõ số lượng" onblur="checkTotal();"/>                                
              </div>
         </div>        
        <div class="col-md-6">
              <div class="form-group">
                <label for="room">ữu đãi 1</label>
                <input name="facility1" type="text" id="facility1" value="@Model.facility1" class="form-control" placeholder="nhập ưu đãi nếu có"/>                                
              </div>
         </div>
        <div class="col-md-6">
              <div class="form-group">
                <label for="room">ữu đãi 2</label>
                <input name="facility2" type="text" id="facility2" value="@Model.facility2" class="form-control" placeholder="nhập ưu đãi nếu có"/>                                
              </div>
        </div>
        <div class="col-md-6">
              <div class="form-group">
                <label for="room">ữu đãi 3</label>
                <input name="facility3" type="text" id="facility3" value="@Model.facility3" class="form-control" placeholder="nhập ưu đãi nếu có"/>                                
              </div>
        </div>
        <div class="col-md-6">
              <div class="form-group">
                <label for="room">ữu đãi 4</label>
                <input name="facility4" type="text" id="facility4" value="@Model.facility4" class="form-control" placeholder="nhập ưu đãi nếu có"/>                                
              </div>
        </div>
        <div class="col-md-6">
              <div class="form-group">
                <label for="room">ữu đãi 5</label>
                <input name="facility5" type="text" id="facility5" value="@Model.facility5" class="form-control" placeholder="nhập ưu đãi nếu có"/>                                
              </div>
        </div>
        <div class="col-md-6">
              <div class="form-group">
                <label for="room">ữu đãi 6</label>
                <input name="facility6" type="text" id="facility6" value="@Model.facility6" class="form-control" placeholder="nhập ưu đãi nếu có"/>                                
              </div>
        </div>
         <p>
           <button type="button" class="btn btn-info" onclick="checkField();">Sửa</button>
        </p>
    </fieldset>
}
<div>
    <a href="/HotelChoupon/Create/">Quay lại</a>    
</div>
</div>

<script>
    function setIdRoom() {
        var idroom = $("#roomname").find(':selected').attr("idroom");
        //alert(idroom);
        $("#idroom").val(idroom);
    }
    
    getHotelRoomList(@Session["idhotel"]);
    function getHotelRoomList(value) {
        var formdata = new FormData(); //FormData object
        formdata.append("idhotel", value);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/HotelRoom/getHotelRoom');
        xhr.send(formdata);
        var content = "";

        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var news = '{"news":' + xhr.responseText + '}';
                //alert(news);
                var json_parsed = $.parseJSON(news);
                content = "";
                $("#roomname").html("<option selected=\"selected\" disabled=\"disabled\" value=\"\">Chọn phòng</option>");
                for (var i = 0; i < json_parsed.news.length; i++) {
                    if (json_parsed.news[i]) {
                        var n = json_parsed.news[i];
                        content += "<option value=\"" + n.roomname.trim() + "\" idroom=\"" + n.id + "\">" + n.roomname.trim() + "</option>";
                    }
                }
                //alert(content);
                $("#roomname").append(content);
                $("#roomname").val("@Model.roomname.Trim()");
                //alert(news);
            }
        }
    }
    
    function checkTotal() {
        document.getElementById("total").value = parseInt(removeSpecialCharater(document.getElementById("total").value));
    }
    function checkPrice() {
        document.getElementById("chouponprice").value = parseInt(removeSpecialCharater(document.getElementById("chouponprice").value));
    }
    function checkField() {
        if (document.getElementById("roomname").value == "") {
            alert("Nhập tên phòng!");
            document.getElementById("roomname").focus();
            return false;
        }
        if (document.getElementById("chouponprice").value == "") {
            alert("Nhập giá phòng shoupon!");
            document.getElementById("chouponprice").focus();
            return false;
        }
        if (document.getElementById("total").value == "") {
            alert("Nhập số lượng shoupon!");
            document.getElementById("total").focus();
            return false;
        }

        document.getElementById("EditForm").submit();
    }
</script>
